html,
body {
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
canvas {
    width: 99vw;
    height: 95vh;
    border-radius: 3rem;
    margin-top: 2rem;
    outline: none;
}
.description {
    color: white;
    width: 200px;
    top: 3rem;
    left: 3rem;
    position: absolute;
}
